src/main/mule/Sys_Api1_Flight.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:cloudhub="http://www.mulesoft.org/schema/mule/cloudhub" xmlns:xml-module="http://www.mulesoft.org/schema/mule/xml-module"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/xml-module http://www.mulesoft.org/schema/mule/xml-module/current/mule-xml-module.xsd">
	<flow name="DeltaFlight" doc:id="1639708a-a954-42e4-b282-bd6baed2d2b3" >
		<ee:transform doc:name="Transform Message" doc:id="2ae19016-9e91-4308-aa98-9d5151f8b126" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://schemas.xmlsoap.org/soap/envelope/
ns ns01 http://soap.training.mulesoft.com/
---
{
	ns0#Envelope: {
		ns0#Header: null,
		ns0#Body: {
			ns01#findFlight: {
				destination: payload.destination
			}
		}
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="POST" doc:name="Delta Flight Request" doc:id="2e2670fe-f47c-4a10-8655-3643b45e675e" url="http://mu.learn.mulesoft.com/delta">
			<reconnect />
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="ecd3b0ae-f826-4e4c-b0d3-510ec319b660" message="#[payload]"/>
	</flow>
</mule>
